body{
    background-color: #222;
}
#home h1{
padding-top: 200px;
color: rgb(233, 233, 233);
font-size: 40px;
}
#home img{
    width: 400px;
}
footer {
    padding-top: 30px;
}
footer h5{
    color:rgb(233, 233, 233);
    font-size: 13px;
}
button{
    border: none;
    border-radius: 5px;
}
#link button{
padding: 10px;
margin: 15px;
margin-bottom: 35px;
}
#btn1{
    background-color: #4724E3;
    color: rgb(243, 243, 243);
    font-size: 25px;
}
#btn1:hover{
    background-color: #4724e3a2;
    color: rgb(243, 243, 243);
    font-size: 25px;
}
#btn2{
    background-color: #FEC045;
    color: rgb(49, 49, 49);
}
#btn2:hover{
    background-color: #fec045b2;
    color: rgb(49, 49, 49);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container #cadas{
    padding: 35px;
    background-color: rgb(253, 253, 253);
    border-radius: 8px;
    max-width: 550px;
    max-height: 560px;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    margin: auto;
}
#cadas h1{
    font-size: 35px;
    color: #222;
    text-align: center;
    padding-bottom: 20px;
}
#cadas p{
    text-align: left;
    font-size: 18px;
    color: #FEC045;
    font-weight: bold;
}
.container #login{
    margin-top: 55px;
    padding: 35px;
    background-color: rgb(253, 253, 253);
    border-radius: 8px;
    max-width: 500px;
    max-height: 350px;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    margin: auto;
}
#login h1{
    font-size: 35px;
    color: #222;
    text-align: center;
    padding-bottom: 20px;
}
.input-group{
    padding: 5px;
}
.input-group .form-check{
    margin: 20px 20px 0 0;
}
.container #nav{
    text-align: center;
}
#btn{
    margin: 20px;
    padding: 11px;
    border-radius: 5px;
    background-color: #FEC045;
    color: #3f2a00;
}
#btn:hover{
    background-color: #fec045c0;
}
a:link {
    text-decoration: #3f2a00;
  }
  a:hover {
    text-decoration: underline;
  }
  a:link{
    color: #3f2a00;
  }
  a:visited{
    color: #3f2a00;
  }
  #serie{
    display: none;
  }